[Unit]
Description=Ambilight WiFi systemd service
After=network.target

[Service]
ExecStart=/usr/bin/ambilightwifid
WorkingDirectory=/usr/share/ambilightwifi/bin
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target