[Unit]
Description=Rpi Fan automatic
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /usr/share/rpi-fan/rpi-fan.py
 
[Install]
WantedBy=multi-user.target