[Unit]
Description=Rpi Fan automatic
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 -u /usr/share/rpi-fan/rpi-fan.py
WorkingDirectory=/usr/share/rpi-fan/
StandardOutput=inherit
StandardError=inherit
estart=always
User=rml
 
[Install]
WantedBy=multi-user.target